<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change Status User</title>
</head>
<body style="text-align:center; margin-left: auto; margin-right: auto">
    <h1>Change Status User</h1>
    <h2 th:text="'Status changed for User with id ' + ${userId}"></h2><br>
    <form th:action="@{/userStatusChange}" th:method="post">
        <input type="hidden" th:name="id" th:value="${userId}"/>
        <input th:type="submit" th:value="Change"/>
    </form><br>
    <a th:href="@{/users}"> Users List</a>
</body>
</html>